* {
    padding: 0;
    margin: 0;

}

body {
    /* background-color: rgb(14, 3, 3); */
    color: rgb(231, 240, 248);
    font-family: cursive;
    font-size: large;
    background-image: url(projectsimages/backgroundimage.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

header {
    display: flex;
    justify-content: end;
    align-items: center;
    position: sticky;
    background-color: black;
}

h2 {
    color: green;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    max-height: 100%;
    padding: 6%;
}

li {
    list-style: none;
    padding: 7%;
    font-size: medium;

}

li:hover {
    border: 2px solid #42bd42;
    border-radius: 6px;
    box-shadow: 0 0 15px 5px rgba(3, 165, 73, 0.6);
}

a {
    text-decoration: none;
    color: green;
}

#dp {
    border-radius: 15%;
    width: 20%;
    height: 20%;
    /* border: 8px solid #4adb4a; */
    box-shadow: 0 0 10px 5px rgba(4, 187, 102, 0.87);
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid azure;
    border-radius: 30px;
    margin: 5%;
    padding: 3%;
}

.content:hover {
    box-shadow: 0 0 15px 5px rgba(39, 212, 117, 0.863);
}

#myinfocontent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* border: 5px solid azure; */
    /* border-radius: 30px; */
    margin: 5%;
    padding: 3%;
    margin-left: 5px;
}

.myprojects {
    width: 10%;
    height: 10%;
}

.primage {
    width: 50%;
    height: 50%;
}

#connectionlinks {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#myfooter {
    background-color: rgba(12, 7, 7, 0.178);
    padding: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
}